body {
	font-family:Arial, Helvetica, sans-serif;
	color:#CCCCCC;
	margin:0;
	padding:0;
	font-size: 12px;
	background-image:  url(image/blue.jpg);
	height: 143px;


}
#topbar {
	height: 118px;
	width: 900px;
	background-image: url(images/topbarbg.gif);


}